/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;

    &::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('https://media.istockphoto.com/id/1391013277/vector/realistic-film-stripe-wave-on-blue-background-with-place-for-text-modern-3d-isometric-film.jpg?s=612x612&w=0&k=20&c=HjOQAt6S-ZNh69WRF91LyBPEsVel3Ct0AawbPj8MQBM=');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: blur(8px);
        z-index: -1;
        transform: scale(1.05);
    }

}