<app-movie-search [searchTerm]="searchMovie" (search)="onSearchChange($event)"></app-movie-search>
<button nz-button nzType="primary" (click)="addMovie()" class="btn-add">Add Movie</button>


<nz-table #basicTable [nzData]="displayData" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" [nzTotal]="total"
  nzPagination="true" (nzPageIndexChange)="onPageChange($event)" [nzBordered]="true">
  <thead>
    <tr>
      <th nzShowSort [nzSortOrder]="sortKey==='title'? sortOrder: null" (nzSortChange)="onSortChange('title', $event)">
        Title</th>
      <th nzShowSort [nzSortOrder]="sortKey==='director'? sortOrder: null"
        (nzSortChange)="onSortChange('director', $event)">Director</th>
      <th nzShowSort [nzSortOrder]="sortKey==='year'? sortOrder: null" (nzSortChange)="onSortChange('year', $event)">
        Year</th>
      <th nzShowSort [nzSortOrder]="sortKey==='genre'? sortOrder: null" (nzSortChange)="onSortChange('genre', $event)">
        Genre</th>
      <th nzShowSort [nzSortOrder]="sortKey==='rating'? sortOrder: null"
        (nzSortChange)="onSortChange('rating', $event)">Rating</th>
      <th nzShowSort [nzSortOrder]="sortKey==='duration'? sortOrder: null"
        (nzSortChange)="onSortChange('duration', $event)">Duration</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for(data of displayData; track data.id) {
    <tr>
      <td>{{data.title}}</td>
      <td>{{data.director}}</td>
      <td>{{data.year}}</td>
      <td>{{data.genre}}</td>
      <td>
        <nz-rate [ngModel]="data.rating" [nzDisabled]="true"></nz-rate>
      </td>

      <td>{{data.duration}}</td>
      <td>{{data.description}}</td>
      <td>
        <button nz-button nzType="link" (click)="editMovie(data)">Edit</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="link" nzDanger (click)="deleteMovie(data)">Delete</button>
      </td>
    </tr>
    }
  </tbody>
</nz-table>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Add Movie" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <form [formGroup]="form">
      <div class="form-group">
        <label for="title" class="inline-label">Title</label>
        <input id="title" formControlName="title" nz-input placeholder="Add title" />
        <div *ngIf="form.get('title')!.invalid && form.get('title')!.touched" class="error-inline">
          Title is required!
        </div>
      </div>
      <div class="form-group">
        <label for="director">Director</label>
        <input id="director" formControlName="director" nz-input placeholder="Add director" />
        <div *ngIf="form.get('director')!.invalid && form.get('director')!.touched" class="error-inline">
          Director is required!
        </div>
      </div>
      <div class="form-group">
        <label for="year">Year</label>
        <input id="year" formControlName="year" nz-input placeholder="Add year" type="number" />
        <div *ngIf="form.get('year')!.invalid && form.get('year')!.touched" class="error-inline">
          Year is invalid!
        </div>
      </div>
      <div class="form-group">
        <label for="genre">Genre</label>
        <input id="genre" formControlName="genre" nz-input placeholder="Add genre" />
        <div *ngIf="form.get('genre')!.invalid && form.get('genre')!.touched" class="error-inline">
          Genre is required!
        </div>
      </div>
      <div class="form-group">
        <label for="rating">Rating</label>
        <nz-rate formControlName="rating"></nz-rate>
        <div *ngIf="form.get('rating')!.invalid && form.get('rating')!.touched" class="error-inline">
          Rating is required!
        </div>
      </div>
      <div class="form-group">
        <label for="duration">Duration</label>
        <input id="duration" formControlName="duration" nz-input placeholder="Add duration (in minutes)"
          type="number" />
        <div *ngIf="form.get('duration')!.invalid && form.get('duration')!.touched" class="error-inline">
          Duration is required!
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" formControlName="description" nz-input placeholder="Add description"></textarea>
      </div>
    </form>
  </ng-container>
</nz-modal>