<button class="btnnoaccount" (click)="goToRegister()">No Account?</button>
<h1> Cinema Universe</h1>
<p> Sign in to access your favourite movies</p>
<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h2>Login</h2>

        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" />
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
            <small>Invalid email!</small>
        </div>

        <label for="password">Password:</label>
        <div class="password-wrapper">
            <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password" />
            <button type="button" class="toggle-password" (click)="togglePasswordVisibility()"
                aria-label="Toggle password visibility">
                <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"
                    stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-eye">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                    <circle cx="12" cy="12" r="3" />
                </svg>
                <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"
                    stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-eye-off">
                    <path d="M17.94 17.94A10.94 10.94 0 0 1 12 20c-7 0-11-8-11-8a21.18 21.18 0 0 1 5.06-6.36" />
                    <path d="M1 1l22 22" />
                    <path d="M9.53 9.53a3 3 0 0 0 4.24 4.24" />
                </svg>
            </button>
        </div>

        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            <small>The password must contain at least 6 characters, including an uppercase letter, a lowercase letter, a
                digit, and a symbol!</small>
        </div>

        <div class="remember-me">
            <label for="rememberMe">Remember me!</label>
            <input type="checkbox" formControlName="rememberMe" id="rememberMe" />
        </div>


        <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
</div>