.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 2rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    input {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        padding: 0.5rem;
        box-sizing: border-box;
    }

    button {
        width: 100%;
        padding: 0.75rem;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
    }

    small {
        color: red;
        font-size: 0.8rem;
    }

    .password-wrapper {
        position: relative;
        overflow: visible !important;
        margin-bottom: 1rem;

        input {
            width: 100%;
            padding-right: 2.5rem;

            height: 40px;
        }

        .toggle-password {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            background: transparent;
            border: none;
            padding: 0;
            margin: 0;
            width: 30px;
            height: 30px;
            display: flex;
            cursor: pointer;
            font-weight: bold;
            justify-content: center;
            align-items: center;



        }

        .toggle-password svg {
            width: 20px;
            height: 20px;

        }
    }

    .remember-me {
        display: flex;
        align-items: flex-start;
        gap: 0.5rem;
        margin-bottom: 1rem;
        cursor: pointer;

        input[type="checkbox"] {
            margin: 0;
        }

        label {
            margin: 0;
            font-size: 0.95rem;
            ;
        }
    }
}

.btnnoaccount {
    display: flex;
    justify-content: center;
    margin: 20px;
    color: white;
    background-color: #007bff;
}